<%= form_for(@isbn) do |f| %>
  <% if @isbn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isbn.errors.count, "error") %> prohibited this isbn from being saved:</h2>

      <ul>
      <% @isbn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
